.container {
    position: relative;
}
#overlay {
    position: absolute;
    left: 10px;
    top: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-family: monospace;
    padding: 1em;
  }
  